.DS_Store
.vscode/

AtCoder/*/*
!AtCoder/*/*.cpp

Codeforces/*/*
!Codeforces/*/*.cpp

CodeJam/*/*/*
!CodeJam/*/*/*.cpp

ITMOAcademy/*/*
!ITMOAcademy/*/*.cpp

Kickstart/*/*/*
!Kickstart/*/*/*.cpp

NowCoder/*/*/*
!NowCoder/*/*/*.cpp

!*.md

schedule.md

# codejam
interactive_runner.py
testing_tool.py
input.txt