.DS_Store
.vscode/

AtCoder/*/*
!AtCoder/*/*.cpp
!AtCoder/*/*.py

Codeforces/*/*
!Codeforces/*/*.cpp
!Codeforces/*/*.py

ICPC/*/*
!ICPC/*/*.cpp
!ICPC/*/*.py

!*.md
schedule.md

# codejam
interactive_runner.py
testing_tool.py
input.txt